
CTP_PROJECT_KEY=example
CTP_CLIENT_SECRET=example
CTP_CLIENT_ID=example
CTP_AUTH_URL=https://auth.eu-central-1.aws.commercetools.com
CTP_API_URL=https://api.eu-central-1.aws.commercetools.com
CTP_SCOPES=example