VITE_CTP_PROJECT_KEY=example
VITE_CTP_CLIENT_SECRET=example
VITE_CTP_CLIENT_ID=example
VITE_CTP_AUTH_URL=https://auth.eu-central-1.aws.commercetools.com
VITE_CTP_API_URL=https://api.eu-central-1.aws.commercetools.com
VITE_CTP_SCOPES=example